@model Thyme.Web.ViewModels.Front_vm
@using Thyme.Web.Models

@{
    ViewBag.PageTitle = "Phil Campbell";
    ViewBag.PageSubHeading = "I'm kind of amazed you're even here.";
    ViewBag.Title = "DevTxt - Phil Campbell";
}
 <div class="col-md-10 col-md-offset-1">

    @foreach (BlogPost post in Model.RecentBlogPosts)
    {
        <article class="clearfix">
            <div class="post-date">
                @post.PublishedOn.PrettyFormat() | <a href="">@ViewBag.MyName</a>
            </div>
            <h2>@Html.RouteLink(post.Title,"BlogPost", new { slug = post.UrlSlug })</h2>
            <p>
                @post.Intro @Html.RouteLink("Read more", "BlogPost", new { slug = post.UrlSlug })
            </p>
        </article>
    }

    <script>
        $("article.clearfix:last").addClass("last");
    </script>
</div>