@using Thyme.Web.Models
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @ViewBag.SiteName</title>

    <link href="@Fingerprint.Tag("/Styles/bootstrap.min.css")" rel="stylesheet" type="text/css" >
    <link href="@Fingerprint.Tag("/Styles/style.css")" rel="stylesheet" type="text/css" >
    <link href="@Fingerprint.Tag("/Styles/icons.css")" rel="stylesheet" type="text/css" >
    <link href="@Fingerprint.Tag("/Styles/animate.min.css")" rel="stylesheet" type="text/css" >

    <link href="@Fingerprint.Tag("/Styles/Site.min.css")" rel="stylesheet" type="text/css" >
    <link href="@Fingerprint.Tag("/images/devtxtfavicon.ico")" rel="shortcut icon" type="image/x-icon" >

    <link rel="me" type="text/html" href="https://www.twitter.com/@(ViewBag.TwitterAccountName)">
    <link rel="me" type="text/html" href="https://www.github.com/@(ViewBag.GitHubAccountName)">
    <link rel="me" type="text/html" href="https://plus.google.com/@(ViewBag.GooglePlusAccountNumber)">
    <link rel="alternate" type="application/rss+xml" title="@ViewBag.MyName - @ViewBag.SiteName - RSS" href="@Url.RouteUrl("RssFeedBlog")">
    <meta itemprop="name" content="@ViewBag.Title">
    <meta itemprop="description" content="@ViewBag.PageDescription">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @RenderSection("BlogPostMeta", required: false)
</head>
<body id="home">
    <div id="wrap">
        <div id="main-nav" class="">
            <div class="container">
                <div class="nav-header">
                    <a class="nav-brand" href="@Url.RouteUrl("Front")"><i class="icon-eye"></i>DevTxt</a>
                    @using (Html.BeginRouteForm("PostSearch", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
                    {
                        <div class="row">
                            <input type="text" id="searchText" name="searchText" placeholder="Search" class="form-control col-lg-8" value="@ViewBag.SearchKeywords" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <section id="hero" class="light-typo">
            <div id="cover-image" class="image-bg animated fadeIn"></div>
            <div class="container welcome-content">
                <div class="middle-text">
                    <h1>@ViewBag.PageTitle</h1>
                    <h2>@ViewBag.PageSubHeading</h2>
                </div>
            </div>
        </section>
        <div id="start" class="container content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="mid" class="container">
            <div class="row">
                <div style="position:relative; width:728px; margin:auto;">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle" style="margin:0 auto;float:none;display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-5755628217423786" data-ad-slot="4405859356"></ins>
                    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 footer-widget" id="myBloggingStats"></div>
                        <div class="col-sm-4 col-md-4 footer-widget" id="recentPosts"></div>
                        <div class="col-sm-4 col-md-4 footer-widget clearfix" id="topTags"></div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p class="pull-left">
                        &copy;  @DateTime.Now.Year @Html.RouteLink("Phil Campbell", "About")<br />
                        @*Header images courtesy <a href="https://instagram.com/JayMartens">Jay Martens</a><br />*@
                        <a href="http://creativecommons.org/licenses/by/3.0/">
                            <img id="imgCC" alt="Creative Commons License" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAPCAMAAABEF7i9AAAAllBMVEUAAACrsar///9ERETMzMzu7u53d3eIiIhVVVVmZmYNDg0ODg6UmZOZmZmqqqoREREiIiIzMzMNDQ1ydnHKzsoZGRkgICBbXlshISFna2dCQkIPEA99gn2AgICGhoaHh4ckJSOPkI8nKCcuMC4xMzENDQyzuLJDQ0O7u7vFxsXGysbIzMg5Oznd3d07PTtBQkFLTEu6v7qumA/2AAAAtElEQVR4Xq2TRw7EMAhFAZf0num993b/y814hKJs4/jJKxs9fQEG95BTjBANE/D4SkQxYj0DKxphHBkfG7eIn0VP4XNMDRJGiLd3P2HokcxBKAG5JLFHrDfcXy7qKJzDmXKftM5UkpIOET+X/zsf6pqwAqnMVPyCfugI8XjlhFxml1AEmdIJ6bKd0EqIpUdpBoESUDzotGv30E54HzqecnxYNcLp2sEeYgVL9r0GfX+KU8A5X+INCo9agFfBAAAAAElFTkSuQmCC" />
                        </a>
                        This blog and its contents are licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.In short: share, remix, and respin it as you like, but you must provide attribution to me by name (Phil Campbell), and you must link to this page.
                        <br />If you see an error, typo, or something that you'd like to correct, <a href="https://github.com/philoushka/blog">send me a pull request on GitHub</a>.
                    </p>
                    <ul class="social-links pull-right">
                        <li><a href="https://www.twitter.com/@(ViewBag.TwitterAccountName)"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://www.stackoverflow.com/users/@(ViewBag.StackOverflowUserNumber)"><i class="icon-stackoverflow"></i></a></li>
                        <li><a href="https://www.github.com/@(ViewBag.GitHubAccountName)"><i class="icon-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/pub/phil-campbell/11/488/b98"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', '@ViewBag.GoogleAnalyticsAccountNumber']); _gaq.push(['_trackPageview']); (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
    <script type="text/javascript" src='@Fingerprint.Tag("/Scripts/jquery-2.1.3.min.js")'></script>
    <script type="text/javascript" src='@Fingerprint.Tag("/Scripts/bootstrap.min.js")'></script>
    <script type="text/javascript" src='@Fingerprint.Tag("/Scripts/placeholders.min.js)'></script>
    <script type="text/javascript" src='@Fingerprint.Tag("/Scripts/wow.min.js")'></script>
    <script type="text/javascript" src='@Fingerprint.Tag("/Scripts/custom.js")'></script>
    <script type="text/javascript">
        $(function () {
            loadTopTags();
            loadFeaturedRecentPosts();
            randomizeHeaderImg();
            activateBlogPostIntrosAsLinks();
            loadMyBloggingStats();
        });

        function loadTopTags() {
            $.get('@Url.RouteUrl("GetTopTags")', function (data) {
                $('#topTags').html(data);
            });
        }

        function loadFeaturedRecentPosts() {
            $.get('@Url.RouteUrl("GetFeaturedRecentPosts")', function (data) {
                $('#recentPosts').html(data);
            });
        }

        function loadMyBloggingStats() {
            $.get('@Url.RouteUrl("GetBloggingStats")', function (data) {
                $('#myBloggingStats').html(data);
            });
        }

        function randomizeHeaderImg() {
            var bgArray = [1, 2, 3, 4];
            var randImg = bgArray[Math.floor(Math.random() * bgArray.length)];
            var imgPath = "url(" + "../images/header/" + todaySeason() + randImg + ".jpg)";
            $('#cover-image').css("background-image", imgPath);
        }

        Number.prototype.between = function (min, max) {
            return this >= min && this <= max;
        };

        function todaySeason() {
            var currMonth = (new Date()).getMonth() + 1;
            if (currMonth.between(3, 5)) { return "spring"; }
            if (currMonth.between(6, 8)) { return "summer"; }
            if (currMonth.between(9, 10)) { return "autumn"; }
            return "winter";
        }

        function activateBlogPostIntrosAsLinks() {
            $(".postIntro").click(function () {
                var url = $(this).parent().find("a:first").attr("href");
                window.location.href = url;
            });
        }
    </script>
    @RenderSection("PageLoad", required: false)
</body>
</html>
