@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @ViewBag.SiteName</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="devtxtfavicon.ico" />
    @RenderSection("Styles", false)
</head>
<body>
    <div id="title">
        <a href="@Url.RouteUrl("Front" )"><h1>@ViewBag.SiteName</h1></a><h3><a href="http://twitter.com/@(ViewBag.TwitterAccountName)">twitter</a>  | @Html.RouteLink("about", "about")</h3>
        @using (Html.BeginRouteForm("PostSearch", FormMethod.Post))
        {
            <input type="text" id="searchText" name="searchText" value="@ViewBag.SearchKeywords" />
        }
    </div>
    <div class="container">
        @RenderBody()
        <br />
        <hr />
        <br />
        <footer>
            @DateTime.Now.Year - @ViewBag.MyName<br\>
            <a href="http://creativecommons.org/licenses/by/3.0/">
            <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by/3.0/80x15.png" style="border-width: 0">
            </a><br>This blog is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>. In short, share, remix, and respin it mostly as you like, but you've got to provide attribution to me/this site.
        </footer>
    </div>
    <script src="@Url.Content("~/scripts/devtxtga.js")" type="text/javascript"></script>
</body>
</html>
