@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title ; @ConfigurationManager.AppSettings["BlogTitle"]</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/iPad.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1024px)" />
    @RenderSection("Styles", false)
</head>
<body>
    <div id="title"><a href="@Url.RouteUrl("Front" )"><h1>DevTxt</h1></a><h3  ><a href="http://twitter.com/@(ConfigurationManager.AppSettings["TwitterAcct"])">twitter</a>  | @Html.RouteLink("about","about")</h3></div>
    <div class="container">
        @RenderBody()
        <br />
        <hr />
        <br />
        <footer>
           @DateTime.Now.Year - Phil Campbell - DevTxt.com
        </footer>
    </div>
</body>
</html>