@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @ViewBag.SiteName</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="devtxtfavicon.ico" />
    @RenderSection("Styles", false)
</head>
<body>
    <div id="title">
        <a href="@Url.RouteUrl("Front" )"><h1>@ViewBag.SiteName</h1></a><h3><a href="http://twitter.com/@(ViewBag.TwitterAccountName)">twitter</a>  | @Html.RouteLink("about", "about")</h3>
        @using (Html.BeginRouteForm("PostSearch", FormMethod.Post))
        {
            <input type="text" id="searchText" name="searchText" value="@ViewBag.SearchKeywords" />
        }
    </div>
    <div class="container">
        @RenderBody()
        <br />
        <hr />
        <br />
        <footer>
            @DateTime.Now.Year - @ViewBag.MyName
        </footer>
    </div>
</body>
</html>