@model IEnumerable<BlogPost>
@using Thyme.Web.Helpers
@using Thyme.Web.Models

@foreach (BlogPost post in Model)
{
    <article class="clearfix">
        <div class="post-date">
            @post.PublishedOn.PrettyFormat() | @Html.RouteLink((string)ViewBag.MyName, routeName: "About")
        </div>
        <h2>@Html.RouteLink(post.Title, "BlogPost", new { slug = post.UrlSlug })</h2>
        <p>
            <span class="postIntro">@post.Intro &hellip;</span>  @Html.RouteLink("Read more", "BlogPost", new { slug = post.UrlSlug }, new { @class = "readMoreLink" })
        </p>
    </article>
}
 